<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UMerchant vendor registration page">
    <meta name="author" content="Pywe">
    <title>UMerchant | Register as vendor</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/static/register/static/img/um.jpeg" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/static/register/static/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/static/register/static/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/static/register/static/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/static/register/static/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/static/register/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/register/static/css/style.css" rel="stylesheet">
	<link href="/static/register/static/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/static/register/static/css/custom.css" rel="stylesheet">
<style>
    .checkmark__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: green;
        fill: none;
        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    }

    .checkmark {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      display: block;
      stroke-width: 2;
      stroke: green;
      stroke-miterlimit: 10;
      margin: 10% auto;
      box-shadow: inset 0px 0px 0px #7ac142;
      animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    }

    .checkmark__check {
      transform-origin: 50% 50%;
      stroke-dasharray: 48;
      stroke-dashoffset: 48;
      animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }

    @keyframes stroke {
      100% {
        stroke-dashoffset: 0;
      }
    }
    @keyframes scale {
      0%, 100% {
        transform: none;
      }
      50% {
        transform: scale3d(1.1, 1.1, 1);
      }
    }
    @keyframes fill {
      100% {
        box-shadow: inset 0px 0px 0px 30px #fff;
      }
    }
</style>

</head>

<body class="bg_color_gray">

<div id="preloader">
    <div data-loader="circle-side"></div>
</div><!-- /Preload -->
<div id="loader_form">
    <div data-loader="circle-side-2"></div>
</div><!-- /loader_form -->

<div class="min-vh-100 d-flex flex-column">

    <header>
        <div class="container-fluid">
            <div class="row d-flex align-items-center">
                <div class="col-4">
                    <a data-bs-toggle="offcanvas" href="#offcanvasNav" role="button" class="btn_nav"><i class="bi bi-list"></i></a>
                </div>
                <div class="col-12 text-center">
                     <a href="/"><img src="/static/register/static/img/um.jpeg" alt="" class="img-fluid" width="95" height="30"></a>
                    <h3>Welcome on board, Registration Successful</h3>
                </div>
                <!--<div class="col-4">-->
                <!--    <div id="social">-->
                <!--        <ul>-->
                <!--            <li><a href="#0"><i class="bi bi-facebook"></i></a></li>-->
                <!--            <li><a href="#0"><i class="bi bi-twitter"></i></a></li>-->
                <!--            <li><a href="#0"><i class="bi bi-instagram"></i></a></li>-->
                <!--        </ul>-->
                <!--    </div>-->
                    <!-- /social -->
                <!--</div>-->
            </div>
        </div>
        <!-- /container -->
    </header>
    <!-- /header -->

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNav">
	    <div class="offcanvas-header">
	        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	    </div>
	    <div class="offcanvas-body">
	        <ul>
	            <li><a href="/admin" class="animated_link">Admin Dashboard</a></li>
	        <!--    <li><a href="registration.html" class="animated_link">Registration</a></li>-->
	        <!--    <li><a href="review.html" class="animated_link">Review</a></li>-->
	        <!--    <li><a href="quotation.html" class="animated_link">Quotation</a></li>-->
	        </ul>
	        <!--<hr>-->
	        <!--<ul>-->
	        <!--    <li><a href="about.html" class="animated_link">About</a></li>-->
	        <!--    <li><a href="contact.html" class="animated_link">Contacts</a></li>-->
	        <!--    <li><a href="#0" class="animated_link">Purchase this template</a></li>-->
	        <!--</ul>-->
	    </div>
	</div>
	<!-- /offcanvas nav -->

    <div class="container-fluid d-flex flex-column my-auto">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
        <br/>
        <div style="text-align:center;">
        <h4>Hello {{name}},</h4>
            <p>Registration Successful. You will be notified when your shop is verified. Thank You!</p>
            <p>For the mean time, you can visit your <a href="/dashboards/vendor-dashboard/{{shop.id}}/" class="animated_link">Vendor Dashboard</a> to start adding your products which will go live as soon as your shop is verified by an admin.</p>
        </div>
        <!--<a type="submit" name="process" class="submit btn_1" href="#" onclick="return quitBox('quit');">Close Page</a>-->
    </div>
    <!-- /Container -->

    <footer>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <p>© <script>var d = new Date(); document.write(d.getFullYear())</script> UMerchant | <a href="http://pywe.org">By Pywe</a></p>
                </div>
                <div class="col-sm-6 text-md-end">
                    <a class="btn_help btn" href="#modal-help" id="modal_h"><i class="bi bi-question-circle"> Help</i></a>
                </div>
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->
    </footer>
    <!-- /Footer -->

</div>
<!-- /flex-column -->

<!-- Help form Popup -->
<div id="modal-help" class="custom-modal zoom-anim-dialog mfp-hide">
    <div class="small-dialog-header">
        <h3>Ask Us Anything</h3>
        <p class="mb-3">Please fill the form with your questions and<br>we will reply soon!</p>
    </div>
    <div id="message-help"></div>
    <form method="post" action="#" id="helpform" autocomplete="off">
        <div class="modal-wrapper">
            <div class="mb-3 form-floating">
                <input type="text" name="fullname" id="fullname" class="form-control" placeholder="Full Name">
                <label for="fullname">Full Name</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="email" name="email_help" id="email_help" class="form-control" placeholder="Email Address">
                <label for="email_help">Email Address</label>
            </div>
            <div class="mb-3 form-floating">
                <textarea name="message_help" id="message_help" class="form-control" placeholder="Your Message"></textarea>
                <label for="message_help">Your Message</label>
            </div>
            <div class="mb-5 form-floating">
                <input class="form-control" type="text" name="verify_help" id="verify_help" placeholder="Are you human? 3 + 1 =">
                <label for="verify_help">Are you human? 3 + 1 =</label>
            </div>
            <div class="text-center submit"><input type="submit" value="Submit" class="btn_1" id="submit-help"></div>
        </div>
    </form>
</div>
<!-- /Help form Popup -->

<!-- Modal terms -->
<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
            </div>
        </div>
        <!-- /modal-content -->
    </div>
    <!-- /modal-dialog -->
</div>
<!-- /modal -->

<!-- COMMON SCRIPTS -->
<script src="/static/register/static/js/common_scripts.min.js"></script>
<script src="/static/register/static/js/common_functions.js"></script>
<script src="/static/register/static/assets/validate.js"></script>

<!-- SPECIFIC SCRIPTS -->
<!--<script src="/static/register/static/js/reservation_wizard_func.js"></script>-->
<script src="/static/register/static/js/daterangepicker_func.js"></script>
<script>
function buildForm(id){
   let myForm = document.getElementById(id);
   let formData = new FormData(myForm);
   //This will build the form from name, value pairs
       var obj = {}
       var all = []
       for(var pair of formData.entries()){
           var name = pair[0]
           var val = pair[1]
           obj[name]=val
       }
       return obj
}
     function exists(ele){if (ele !== null && ele !== undefined && ele !== "null"){return true}else{return false}};
   function toast(msg,time) {
   var x = document.getElementById("toast");
   x.innerHTML = msg;
   x.className = "show";
   setTimeout(function(){ x.className = x.className.replace("show", ""); }, time);
   }

function close_window() {
  if (confirm("Close Window?")) {
    close();
  }
}

function leave() {
  var myWindow = window.open("", "_self");
  myWindow.document.write("");
  setTimeout (function() {myWindow.close();},1000);
}

function quitBox(cmd) {
    if (cmd=='quit') {
        open(location, '_self').close();
    }
    return false;
}
</script>

</body>
</html>